h1 {
    font: bold;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px
}

h3 {
    font: bold;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

a {
font: bold;
color: red;
}


k {
    color: red;
}

